*, *:after, *:before {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

a {
  color: black;
  padding-bottom: 3px;
  border-bottom: 2px solid black;
  text-decoration: none;
}

/* Home screen */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 0 10%;
  position: relative;
}

.home__avatar {
  width: 160px;
  height: 160px;
  overflow: hidden;
  border-radius: 80px;
  box-shadow: 0 2px 4px 0 #a2a2a2;
}

.home__avatar img {
  width: 100%;
}

.home__details {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.home__details__intro {
  font-size: 24px;
  text-align: center;
  line-height: 42px;
}

.home__details__social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.home__details__social__name {
  border-radius: 25px;
  margin: 5px;
  font-size: 14px;
  background: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 15px;
  border-bottom: 0;
}

.home__details__social__icon {
  margin-right: 5px
}
 
.home__details__social__icon:focus,
.home__details__social__icon:visited {
  color: inherit;
  text-decoration: none;
}

/* Projects screen */
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 0 10%;
  position: relative;
}

/* Writing screen */
.writing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 0 10%;
  position: relative;
}

/* Open Source */
.oss {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 0 10%;
  position: relative;
}

.repos, .prs {
  list-style: none;
  counter-reset: section;
  padding-left: 0;
}

.repos {
  display: flex;
  flex-wrap: wrap;
}

.repos__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: calc(50% - 20px);
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 12px;
  margin-bottom: 10px;
}

.repos__item__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.repos__item:nth-child(odd) {
  margin-right: 10px;
} 

.repos__item:nth-child(even) {
  margin-left: 10px;
}

.repos__item__stat {
  font-size: 14px;
}

.repos__item__stat i {
  margin-right: 2px;
}

.repos__item .repos__item__stat:first-of-type {
  margin-right: 5px;
}

.repos__item__name {
  font-size: 20px;
  color: #5757e6;
  border-bottom-color: #5757e6;
}

.repos__item__body {
  font-size: 16px;
  margin-top: 12px;
  color: #333;
}

.repos__item__list {
  list-style: none;
  padding-left: 0;
  margin-top: 4px;
}

.repos__item__list__item {
  font-size: 14px;
  line-height: 20px;
  color: #525252;
}

.repos__item__list__item a {
  border-bottom: 0;
  padding-bottom: 0;
  color: #525252;
}

/* Components */
/* List */
.list {
  list-style: none;
  counter-reset: section;
  padding-left: 0;
}

.list__item {
  position: relative;
  padding-left: 44px;
  font-size: 24px;
  line-height: 40px;
}

.list__item:before {
  counter-increment: section;
  content: "" counter(section) ". ";
  position: absolute;
  left: 0;
  top: 6px;
}

.list__item__heading {
  margin-bottom: 0;
}

.list__item__body {
  margin-top: 15px;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 20px;
}

/* Fonts */
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?29rezi');
  src:  url('fonts/icomoon.eot?29rezi#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?29rezi') format('truetype'),
    url('fonts/icomoon.woff?29rezi') format('woff'),
    url('fonts/icomoon.svg?29rezi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
  content: "\e906";
}
.icon-fork:before {
  content: "\e905";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin:before {
  content: "\eaca";
}
.icon-chevron-up:before {
  content: "\e902";
}
.icon-chevron-down:before {
  content: "\e904";
}
.icon-medium:before {
  content: "\e903";
}
.icon-email:before {
  content: "\e901";
}
.icon-github:before {
  content: "\e900";
}
